body.dragging-chat {
  user-select: none;
}

body.dragging-chat, body.dragging-chat.anu-chat-overlay-active .anu-chat-overlay-container .drag-anchor {
  cursor: grabbing;
}

.anu-chat-overlay-active .anu-chat-overlay-container {
  display: block;
}

.anu-chat-overlay-container {
  display: none;
}

.anu-chat-overlay-active .anu-chat-overlay-container .loader {
  display: none;
}

.anu-chat-overlay-active .anu-chat-overlay-container.loading .loader {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
}

.anu-chat-overlay-active .anu-chat-overlay-container.loading .loader .inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.anu-chat-overlay-active .anu-chat-overlay-container.loading .loader .inner .tw-loading-spinner {
  margin-left: auto;
  margin-right: auto;
}

.anu-chat-overlay-active .anu-chat-overlay-container {
  position: absolute;
  height: 700px;
  width: 300px;
  overflow: hidden;
}

.anu-chat-overlay-active .anu-chat-overlay-container .drag-anchor {
  display: none;
  z-index: 2;
  position: absolute;
  top: 15px;
  left: 15px;  
  cursor: grab;
}

.anu-chat-overlay-active .anu-chat-overlay-container:hover .drag-anchor {
  display: inline-block;
}

.anu-chat-overlay-active .anu-chat-overlay-container .drag-anchor {
  display: none;
}

.anu-chat-overlay-active .anu-chat-overlay-container .drag-anchor svg {
  fill: white;
  width: 20px;
  height: 20px;
}

.anu-chat-overlay-active .anu-chat-overlay-container .chat-list__lines .simplebar-track.vertical {
  display: none;
}

.anu-chat-overlay-active .anu-chat-overlay-container .chat-list__lines .chat-list__list-container .chat-line__message {
  background-color: rgba(0, 0, 0, 0.25);
}

/* .anu-chat-overlay-active .right-column {
  display: none !important;
}

.anu-chat-overlay-active .persistent-player--theatre {
  width: 100% !important;
} */