.modal.tco-modal {
  z-index: 99999999;
  display: none;
}

.modal.tco-modal.is-open {
  display: block;
}

.modal__overlay {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  max-width: 800px;
  max-height: 80%;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__container .header {
  display: block;
  height: 50px;
}

.modal__container .header .logo {
  position: absolute;
  height: 20px;
  width: 24.84px;
  margin-left: 10px;
  top: 12px;
  left: calc(50% + 56px);
}

.modal__container .header .title {
  height: 16px;
  padding-top: 17px;
  text-align: center;
}

.modal__content {
  padding: 10px;
}

.modal.tco-modal .modal__footer {
  padding: 10px;
  background-color: rgb(242, 242, 242)
}

.tw-root--theme-dark .modal.tco-modal .modal__footer {
  background-color: rgb(41, 41, 44)
}
/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}