.tco-settings-modal .modal__container {
  width: 500px;
}

.tco-settings-modal .modal__container .settings-header {
  margin: 10px 0;
}

.tco-settings-modal .modal__container .settings-header > div {
  padding: 1px 0;
}

.tco-settings-modal .modal__container .settings-label {
  padding-right: 10px;
  width: 30%;
  text-align: right;
  display: inline-block;
}

.tco-settings-modal .modal__container .settings-divider {
  margin: 10px auto;
  border: .5px solid var(--color-border-base);
  width: 100%;
}

.tco-settings-modal .modal__container .settings-divider.settings-main-divider {
  margin-bottom: 0;
}

.tco-settings-modal .modal__container .settings-scroller {
  overflow-x: hidden;
  overflow-y: auto;
  height: 350px;
}

.tco-settings-modal .modal__container .settings-scroller.overflow-y-hidden {
  overflow-y: hidden;
}

.tco-settings-modal .modal__container .settings-scroller .simplebar-content {
  overflow-x: hidden;
}

.tco-settings-modal .modal__container .settings-scroller .simplebar-placeholder {
  height: 0 !important;
}

.tco-settings-modal .modal__content {
  padding-bottom: 0;
}

.settings-scroller .settings-row:first-child {
  padding-top: 10px;
}

.settings-scroller .settings-row:last-child {
  padding-bottom: 30px;
}

.tco-settings-modal .modal__container .settings-input-container {
  padding-left: 10px;
  display: inline-block;
  vertical-align: middle;
  width: 190px;
}

.tco-settings-modal .modal__container .settings-input-container .position-input {
  position: relative;
  width: 180px;
  height: calc(180px * 9 / 16);
  overflow: hidden;
}

.tco-settings-modal .modal__container .settings-input-container .position-input .viewport-model {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: gray;
  z-index: 1;
}

.tco-settings-modal .modal__container .settings-input-container .position-input .chat-model {
  position: absolute;
  background-color: white;
  z-index: 2;
  resize: both;
  overflow: auto;
}

.tco-settings-modal .modal__container .settings-input-container .position-input .chat-model .inner {
  width: 100%;
  height: 100%;
  border: 1px solid #000000;
  cursor: grab;
}

.tco-settings-modal .modal__container .settings-input-container .settings-tip {
  margin-top: 10px;
}

#tco-settings-modal .settings-input-container button.tw-core-button--primary:focus {
  background-color: var(--color-background-button-primary-hover);
  color: var(--color-text-button-primary);
}

#tco-settings-modal .settings-input-container select {
  height: 35px;
  width: 180px;
  font-weight: bold;
  text-align-last: center;
  cursor: pointer;
}

#tco-settings-modal .settings-input-container option {
  background-color: var(--color-background-input-focus);
}

#tco-settings-modal .IroWheelSaturation,
#tco-settings-modal .IroSliderBg {
  cursor: pointer;
}

#tco-settings-modal .IroHandle {
  cursor: grab;
}

.tco-settings-modal .modal__container .settings-input-container .font-size-picker {
  width: 72px;
}

.tco-settings-modal .modal__container .settings-input-container.font-weight,
.tco-settings-modal .modal__container .settings-input-container.username-toggle {
  width: 190px;
}

.tco-settings-modal .modal__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tco-settings-modal .modal__footer .right-buttons {
  display: inline-flex;
}

.tco-settings-modal .about-us-icon {
  display: inline-block;
  position: absolute !important;
  top: 20px;
  right: 20px;
  height: 10px;
  width: 10px;
  cursor: pointer;
}