.atco-container .tw-c-text-alt {
  color: var(--color-text-alt);
}

.atco-container .tw-align-items-center {
  align-items: center;
}

.atco-container .tw-border-b {
  border-bottom: 1px solid var(--color-border);
}

.atco-container.tw-c-background-base {
  background-color: var(--color-background-base);
}

.atco-container .tw-full-width {
  width: 100%;
}

.atco-container .tw-font-size-6 {
  font-size: 1.2rem;
}

.atco-container .tw-semibold {
  font-weight: 600;
}

.atco-container .tw-upcase {
  text-transform: uppercase;
}

.atco-container .tw-flex {
  display: flex;
}

.atco-container .tw-flex-row {
  flex-direction: row;
}

.atco-container .tw-flex-column {
  flex-direction: column;
}

.atco-container .tw-flex-grow-0 {
  flex-grow: 0;
}

.atco-container .tw-flex-grow-1 {
  flex-grow: 1;
}

.atco-container .tw-flex-shrink-0 {
  flex-shrink: 0;
}

.atco-container .tw-flex-shrink-1 {
  flex-shrink: 1;
}

.atco-container .tw-justify-content-end {
  justify-content: flex-end;
}

.atco-container .tw-justify-content-center {
  justify-content: center;
}

.atco-container .tw-mg-l-05 {
  margin-left: 0.5rem;
}

.atco-container .tw-align-middle {
  text-align: center;
}

.atco-container .tw-border-bottom-left-radius-medium {
  border-bottom-left-radius: 0.5rem;
}

.atco-container .tw-border-bottom-right-radius-medium {
  border-bottom-right-radius: 0.5rem;
}

.atco-container .tw-border-top-left-radius-medium {
  border-top-left-radius: 0.5rem;
}

.atco-container .tw-border-top-right-radius-medium {
  border-top-right-radius: 0.5rem;
}

.atco-container .tw-inline-flex {
  display: inline-flex;
}

.atco-container .tw-interactive {
  cursor: pointer;
}

.atco-container .tw-overflow-hidden {
  overflow: hidden;
}

.atco-container .tw-relative {
  position: relative;
}

.atco-container .tw-absolute {
  position: absolute;
}

.atco-container .tw-z-above-content {
  z-index: 10;
}

.atco-container .tw-elevation-1 {
  box-shadow: 0 0.25rem 0.5rem var(--color-shadow-elevation-1);
}

.atco-container .tw-c-background-base {
  background-color: var(--color-background-base);
}

.atco-container .tw-c-background-alt {
  background-color: var(--color-background-alt);
}

.atco-container .tw-aspect {
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.atco-container .tw-aspect--align-top {
  padding-bottom: 0;
}

.atco-container .tw-root--theme-dark {
  --color-background-base: #1d1d1d;
  --color-background-alt: #2d2d2d;
  --color-border: #2d2d2d;
  --color-text-base: #fafafa;
  --color-text-alt: #bdbdbd;
  --color-shadow-elevation-1: rgba(0, 0, 0, 0.1);
  --color-primary: #00a0ff;
}

.atco-container .tw-core-button {
  line-height: 30px;
  padding: 0 10px;
  margin: 0 5px;
}

.atco-container .tw-core-button--primary {
  background-color: var(--color-background-accent);
  color: var(--color-text-overlay);
}